extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 James Braun

        
        p.lead.text-light
          | Full Stack/Front End JavaScript Developer.

        
        .portfolio-bio
          p
            | I have Been into computers since I bought my first Commodore 64 back in 1982. Gosh I hope this doesn't date me. LOL. I remember copying code out of magazines when I was 16 and saving it on magnetic tape
            | drives because I couldn't afford a 5 & 1/4 inch disk drive. I have been in love with programimng ever since then. And while I left the computer industry for a while, I'm back full force. You will get the
            | experience of someone who has seen the evolution of the computer from it's infantsy to the mature industry it is today.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li Express
          li CSS3
          li html5
          li JavaScript
          li jQuery
          li SASS
          li React
          li PUG
          li OOP JavaScript
          li Responsive Design
        h6 Contact Info

        
        ul
          li 256-783-1357
          li braun.james.robert@gmail.com

        
        a.button.expanded(href='https://www.linkedin.com/in/james-braun-955525169') LinkedIn
        a.button.expanded(href='https://github.com/james-braun') GitHub
        //- a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  