<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
    link(rel="apple-touch-icon", sizes="180x180", href="/static/img/favicon_io/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/static/img/favicon_io/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/static/img/favicon_io/favicon-16x16.png")
    link(rel="manifest", href="/static/img/favicon_io/site.webmanifest")

  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src=`${data.projects[0].image_urls[0]}`)
          .cell.auto

            
            h5 James Braun

            
            p.text-light
              | Hi! I'm a front-end developer and full-stack developer who Just completed his Techdegree at teamtreehouse.  I love responsive design, html 5, ccs3, JavaScript, jQuery, and browser compatibility.  I am looking for a career building websites that offers me a challenge to grow on.
             
            a(href='/about') Learn More →

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          
          span.title-bar-title James Braun
      block content
        

      
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
